{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Réinitialier Password{% endblock %}

{% block body %}
    <h1>Réinitialier Password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Nouveau Password</button>
    {{ form_end(resetForm) }}
{% endblock %}
