{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <br>
    <div class="jumbotron ">
        <h1 class="display-4 mb-3">Bienvenue sur Lamatch !</h1>
        <p class="lead">Vous êtes un candidat et vous souhaitez trouver le job de vos rêves dans une entreprise qui vous correspond ?
            Il vous suffit de renseigner votre profil dans Lamatch et les suggestions se dévoilent devant vous !</p>
        <hr class="my-4">
        <p class="lead">Vous êtes employeur et vous souhaitez trouver votre prochain·e collaborateur·rice qui rejoindra votre belle équipe ?
            Il vous suffit de renseigner votre profil dans Lamatch et les suggestions pleuveront comme vache qui [censored] !</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Connexion</a>
        </p>
    </div>

{% endblock %}
