{% extends 'base.html.twig' %}

{% block title %}Hello CandidatController!{% endblock %}

{% block body %}
    <h1>Compléter votre profil :</h1>
    <section>
        {{ form_start(formCandidat) }}
        {{ form_widget(formCandidat) }}
        <button type="submit" class="btn-primary">Enregistrer</button>
        {{ form_end(formCandidat) }}
    </section>

{% endblock %}
