{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}| Inactif{% endblock %}

{% block body %}
    <h1>Vous ne pouvez plus vous connecter au site. Rapprocher vous de l'administrateur pour de plus amples informations</h1>
{% endblock %}